---
interface Props {
    href: string;
    classNames?: string;
}

const { href, classNames } = Astro.props;
let classes = "p-category";
if (classNames) {
    classes += ` ${classNames}`;
}
---

<a class={classes} {href}><slot /></a>

<style type="text/scss">
    a {
      background-color: var(--rg-color-accent);
      border-radius: var(--rg-border-radius);
      color: var(--rg-color-fg);
      display: inline-block;
      padding: 0.25em 0.5em;

      &.category {
        outline: thin solid var(--rg-color-line);
      }

      &.tag {
          font-style: italic;

          &::before {
              content: "#";
          }
      }
  }
</style>
