---
interface Props {
    href: string
    className: string
    title: string
}

const { href, class: className = "" } = Astro.props as Props
const title = Astro.props.title || `taxonomy: ${href}`
---

<a class:list={[
   "p-category",
   "bg-amber-300",
   "text-slate-950",
   "inline-block",
   "rounded-md",
   "mx-1",
   "px-2",
   "py-1",
   className ]} {title} {href}><slot /></a>
