---
interface Props {
    href: string
    className: string
    title: string
}

const { href, class: className = "" } = Astro.props as Props
const title = Astro.props.title || `taxonomy: ${href}`
---

<a class:list={[
   "p-category",
   "bg-green-50",
   "text-base-900",
   "hover:bg-green-500",
   "hover:text-base-100",
   "inline-block",
   "rounded-md",
   "border",
   "border-green-900",
   "m-1",
   "px-2",
   "py-1",
   className ]} {title} {href}><slot /></a>
