---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import PostListing from "@components/PostListing.astro";

type Post = {
    data: {
        title: string;
        date: Date;
        tags: string[];
    };
    id: string;
};

export async function getStaticPaths() {
    const posts = await getCollection("posts");

    const tags = new Map<string, Post[]>();

    posts.forEach((post) => {
        post.data.tags.forEach((tag) => {
            if (!tags.has(tag)) {
                tags.set(tag, []);
            }
            tags.get(tag)?.push(post);
        });
    });

    return Array.from(tags.keys()).map((tag) => ({
        params: { tag },
        props: { tag, posts: tags.get(tag) },
    }));
}

const { tag, posts } = Astro.props;
---

<Layout title={`Posts tagged ${tag}`}>
    <p>Posts tagged {tag} go here.</p>
    <PostListing posts={posts} />
</Layout>
