---
import Layout from '../layouts/Layout.astro';
const title = "About Random Geekery"
---

<Layout {title}>
  <p>I collect notes, projects, and somewhat random thoughts here.
  Different versions of this site have been online since sometime in 2000.</p>
</Layout>
