---
import { collectSiteCategoryMap } from "@lib/TaxonomyHelpers"

import PageLayout from "@layouts/PageLayout.astro";
import CategoryLink from "@components/CategoryLink.astro";

const categories = await collectSiteCategoryMap();
---

<PageLayout title="Categories">
    <ul>
        {
            Array.from(categories.keys())
                .sort()
                .map((category) => (
                    <li>
                        <CategoryLink category={category} />(
                        {categories.get(category)?.length})
                    </li>
                ))
        }
    </ul>
</PageLayout>
