---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import CategoryLink from "@components/CategoryLink.astro";

type Post = {
    data: {
        title: string;
        date: Date;
        categories: string[];
    };
    id: string;
};

type Categories = {
    category: string;
    posts: Post[];
};

async function getCategories() {
    const posts = await getCollection("posts");
    const categories = new Map<string, Post[]>();

    posts.forEach((post) => {
        post.data.categories.forEach((category) => {
            if (!categories.has(category)) {
                categories.set(category, []);
            }
            categories.get(category)?.push(post);
        });
    });

    return categories;
}

const categories = await getCategories();
---

<Layout title="Categories">
    <ul>
        {
            Array.from(categories.keys())
                .sort()
                .map((category) => (
                    <li>
                        <CategoryLink tag={category} />(
                        {categories.get(category)?.length})
                    </li>
                ))
        }
    </ul>
</Layout>
