---
import { collectSiteCategoryMap } from "@lib/TaxonomyHelpers"

import PageLayout from "@layouts/PageLayout.astro";
import CategoryLink from "@components/CategoryLink.astro";
import PostCollectionSummary from "@components/PostCollectionSummary.astro"

const categories = await collectSiteCategoryMap();
---

<PageLayout title="Categories">
    <ul>
        {
            Array.from(categories.keys())
                .sort()
                .map((category) => (
                    <li>
                      <PostCollectionSummary href={`/categories/${category}/`} text={category} posts={categories.get(category)} />
                    </li>
                ))
        }
    </ul>
</PageLayout>

<style>
  ul {
    margin-block: 1rem;
    margin-inline: auto;
    list-style: none;
  }

  li {
    margin-block: .5em;
  }
</style>
