---
import PageLayout from "@layouts/PageLayout.astro"
import Note from "@components/Note.astro"
---
<PageLayout title="Now">
  <Note>
    <p>Check out the <a href="https://sive.rs/nowff">/now</a> page movement started
    by <a href="https://sive.rs">DerekSivers</a>. You can get a
    <a href="https://nownownow.com/p/2ugf">profile</a> if you set up a <tt>/now</tt> page.</p>
  </Note>

  <h2>Where I am now</h2>

  <p>
    Living in <a href="https://www.visittucson.org">Tucson</a>, in Arizona's
    Sonora desert. It's been an interesting shift after living near Puget Sound
    most of my life.
  </p>

  <h2>Who I am around now</h2>

  <p>
    Let's see. There are four humans and four critters. Full details about the
    humans are unnecessary, but I am happily married to one of them. The other
    two are pretty cool.
  </p>

  <p>
    The critters? Two dogs, two cats.
  </p>

  <h2>What I am doing now</h2>

  <p>
    Job hunting, mostly. Looking for a senior backend dev? Here's <a
      href="https://www.linkedin.com/in/brianwisti/">my LinkedIn profile</a>.
  </p>

  <p>
    What else?
  </p>

  <ul>
    <li>getting old; better than the alternative complaints range from a perpetually blocked ear to fingernail ridges</li>
    <li>rebuilding the whole site with <a href="https://astro.build">Astro</a></li>
  </ul>

  <h2>Want more?</h2>

  <p>
    You can contact me via <a href="mailto:brianwisti@pobox.com">email</a>,
    or <a href="/follow/">follow me online</a>!
  </p>
</PageLayout>
