---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import PostYearSummary from "@components/PostYearSummary.astro";

type Post = {
    data: {
        title: string;
        date: Date;
    };
    id: string;
};

type Year = {
    year: string;
    posts: Post[];
};

async function getYears() {
    const posts = await getCollection("posts");
    const years = new Map<string, Post[]>();

    posts.forEach((post) => {
        const year = post.data.date.getFullYear().toString();
        if (!years.has(year)) {
            years.set(year, []);
        }
        years.get(year)?.push(post);
    });

    return years;
}

const years = await getYears();
---

<PageLayout title="Posts">
    <p>Top-level blog post listing goes here.</p>
    {
        Array.from(years.keys())
            .sort()
            .reverse()
            .map((year) => (
                <PostYearSummary year={year} posts={years.get(year)} />
            ))
    }
</PageLayout>
