---
import PageLayout from "@layouts/PageLayout.astro"
import PostCollectionSummary from "@components/PostCollectionSummary.astro"

import { getYears } from "@lib/TaxonomyHelpers"

const years = await getYears()
const data = {
  title: "Posts",
  description:
    "pretty much everything I put on this site, in chronological order",
}
---

<PageLayout {data}>
  <div class="pt-4 border-t border-slate-950 dark:border-slate-50">
    {
      Array.from(years.entries())
        .sort((a, b) => b[0].localeCompare(a[0]))
        .map(([slug, entry]) => (
          <PostCollectionSummary href={`/post/${slug}/`} entry={entry} />
        ))
    }
  </div>
</PageLayout>

<style>
  ul {
    margin-block: 1rem;
    margin-inline: auto;
    list-style: none;
  }

  li {
    margin-block: 0.5em;
  }
</style>
