---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import PostYearSummary from "@components/PostYearSummary.astro";
import type { PostInterface } from "@lib/Post";


async function getYears() {
    const posts = await getCollection("posts");
    const years = new Map<string, PostInterface[]>();

    posts.forEach((post) => {
        const year = post.data.date.getFullYear().toString();
        if (!years.has(year)) {
            years.set(year, []);
        }
        years.get(year)?.push(post);
    });

    return years;
}

const years = await getYears()
const title = "Posts"
const description = "Pretty much everything I put on this site, in chronological order"
---

<PageLayout {title} {description}>
  <ul>
    {
      Array.from(years.keys())
        .sort()
        .reverse()
        .map((year) => (
          <li><PostYearSummary year={year} posts={years.get(year)} /></li>
        ))
    }
  </ul>
</PageLayout>

<style>
  ul {
    margin-block: 1rem;
    margin-inline: auto;
    list-style: none;
  }

  li {
    margin-block: .5em;
  }
</style>
