---
import { collectSiteTagMap } from "@lib/TaxonomyHelpers"

import PageLayout from "@layouts/PageLayout.astro"
import PostCollectionSummary from "@components/PostCollectionSummary.astro"

const slugs = await collectSiteTagMap()
---

<PageLayout title="Tags">
    <ul>
        {
            Array.from(slugs.keys())
                .sort()
                .map((slug) => (
                    <li>
                      <PostCollectionSummary href={`/tags/${slug}/`} text={slug} posts={slugs.get(slug)} />
                    </li>
                ))
        }
    </ul>
</PageLayout>

<style>
  ul {
    margin-block: 1rem;
    margin-inline: auto;
    list-style: none;
  }

  li {
    margin-block: .5em;
  }
</style>
