---
import { collectSiteTagMap } from "@lib/TaxonomyHelpers"

import PageLayout from "@layouts/PageLayout.astro";
import TagLink from "@components/TagLink.astro"

const slugs = await collectSiteTagMap()
---

<PageLayout title="Tags">
    <ul>
        {
            Array.from(slugs.keys())
                .sort()
                .map((slug) => (
                    <li>
                        <TagLink tag={slug} />({slugs.get(slug)?.length})
                    </li>
                ))
        }
    </ul>
</PageLayout>
