---
import * as path from "node:path";

import PageLayout from "@layouts/PageLayout.astro";
import CategoryLink from "@components/CategoryLink.astro";
import TagLink from "@components/TagLink.astro";
import Timestamp from "@components/Timestamp.astro";

import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
    const posts = await getCollection("posts");

    return posts.map((post) => ({
        params: {
            year: post.data.date.getFullYear().toString(),
            slug: post.id,
        },
        props: { post },
    }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<PageLayout title={post.data.title}>
    <article>
        <header>
            <p>
                {
                    post.data.categories.map((category) => (
                        <CategoryLink category={category} />
                    ))
                }
                <Timestamp date={post.data.date} />
            </p>
            <p>
                {post.data.tags.map((tag) => <TagLink tag={tag} />)}
            </p>
        </header>
        <Content />
    </article>
</PageLayout>
