---
interface Props {
  href: string
  title: string
}

const { href, title } = Astro.props
---
<section class="h-entry">
  <header>
    <a {href} class="u-bookmark-of">{title}</a>
  </header>
  <div class="ms-4">
    <slot />
  </div>
</section>
