---
interface Props {
  category: string;
  count: number;
}

const { category, count } = Astro.props as Props
const textColor = count > 0 ? "text-base-900" : "text-base-500"
const containerClass = [
  "not-prose",
  "grid",
  "grid-rows-2",
  "mx-1",
  `${textColor}/80`,
]
---
<span class:list={containerClass}>
    <span>{category}</span>
    <span class="text-center">{count || 0}</span>
</span>
