---
interface Props {
  category: string;
  count: number;
}

const { category, count } = Astro.props as Props
const containerClass = [
  "not-prose",
  "grid",
  "grid-rows-2",
  "mx-1",
  "text-slate-950",
  "text-opacity-80",
]

if (count < 1) {
  containerClass.push("text-transparent")
}
---
<span class:list={containerClass}>
    <span>{category}</span>
    <span class="text-center">{count || 0}</span>
</span>
