---
interface Props {
  title: string
}

const { title } = Astro.props as Props
---
<div class="py-2 text-center grid grid-flow-row auto-rows-max">
  <header class="font-bold pb-2">{title}</header>
  <slot />
</div>
