---
interface Props {
  href: string
  className: string
}

const { href, class: className = "" } = Astro.props as Props
---
<a class:list={[
   "text-lg",
   "font-bold",
   className
   ]} {href}><slot /></a>
