---
const { title } = Astro.props;
---
<aside class="m-4 bg-gold-100 dark:bg-gold-800 text-base-900 dark:text-base-100 rounded-lg outline outline-1">
  {title ? <header class="mb-2 p-2 bg-amber-950 text-slate-50 rounded-t-md font-bold text-center">{title}</header> : "" }
  <div class="px-4">
    <slot />
  </div>
</aside>
