---
import PosseLink from "@components/PosseLink.astro"

interface Props {
  posse: string[]
}

const { posse } = Astro.props as Props
---
<div class="rounded-md bg-sea_green-50 text-phthalo_blue-900 p-4 mt-4 sm:block lg:grid lg:grid-cols-2">
  <div>
    Got a comment? A question? More of a comment than a question?
  </div>
  <div class="flex justify-between">
    <span class="grow">Talk to me about this page on:</span>
    {posse.map((href) => <PosseLink {href} />)}
  </div>
</div>
