---
import CategoryLink from "./CategoryLink.astro";
import TagLink from "./TagLink.astro";
import Timestamp from "./Timestamp.astro";

interface Props {
    date: Date;
    categories: string[];
    tags: string[];
}

const { date, categories, tags } = Astro.props;
---

<div class="meta">
    <Timestamp {date} />
    <div class="taxonomy">
      {categories.map((category) => <CategoryLink {category} />)}
      <ul>
        {tags.map((tag) => <li><TagLink {tag} /></li>)}
      </ul>
    </div>
</div>

<style type="text/scss">
    .meta {
      font-size: var(--rg-font-size-smaller);
        display: grid;
        grid-template-columns: 12ch auto;
        grid-gap: 1ch;
        align-items: center;

        timestamp {
            flex-shrink: 0;
            display: inline-block;
        }

        .taxonomy {
            justify-content: end;
            display: flex;
            flex-wrap: wrap;

            ul {
              display: flex;
              list-style: none;
              margin: 0;
              padding-inline-start: 0.5em;

              li {
                margin-inline-start: 0.25em;
              }
            }
        }
    }
</style>
