---
import CategoryCount from "@components/CategoryCount.astro"
import type { PostInterface } from "@lib/Post"

interface Props {
    href: string
    text: string
    posts: PostInterface[] | undefined;
}

function groupPostsByCategories(posts: PostInterface[]): Map<string, PostInterface[]> {
    const categories = new Map<string, PostInterface[]>()
    posts.forEach((post) => {
      for (const category of post.data.categories) {
        if (!categories.has(category)) {
            categories.set(category, [])
        }
        categories.get(category)?.push(post)
      }
    })
    return categories
}

const knownCategories = ["note", "gallery", "post", ]
const { href, text, posts } = Astro.props as Props
const categories = groupPostsByCategories(posts || [])
---
<div class="rounded-md my-4 bg-base-400 text-base-900 p-2 flex text-md">
  <a class="font-bold text-lg grow text-base-900"
      {href}>{text}</a>
  {knownCategories.map((category) => <CategoryCount {category} count={categories.get(category)?.length || 0} />)}
</div>
