---
import PostSummary from "./PostSummary.astro";

type Post = {
    data: {
        title: string;
        date: Date;
    };
    id: string;
};

interface Props {
    posts: Post[] | undefined;
}

const { posts, limit } = Astro.props;
let sortedPosts = posts?.sort((a, b) => b.data.date.getTime() - a.data.date.getTime())

if (limit) {
  sortedPosts = sortedPosts.slice(0, limit)
}

---

<section class="h-feed">
    {
        sortedPosts.map((post) => <PostSummary post={post} />)
    }
</section>
