---
import CategoryLink from "./CategoryLink.astro";
import TagLink from "./TagLink.astro";
import Timestamp from "./Timestamp.astro";

interface Props {
    date: Date;
    categories: string[];
    tags: string[];
}

const { date, categories, tags } = Astro.props;
---

<p>
    <Timestamp {date} />
    <span>
        {categories.map((category) => <CategoryLink {category} />)}
        {tags.map((tag) => <TagLink {tag} />)}
    </span>
</p>

<style type="text/scss">
    p {
        font-size: var(--font-size-1);
        margin-block-end: 0;
        display: grid;
        grid-template-columns: 12ch auto;
        grid-gap: 1ch;
        align-items: center;

        timestamp {
            flex-shrink: 0;
            display: inline-block;
        }

        span {
            justify-content: end;
            display: flex;
            flex-wrap: wrap;
        }
    }
</style>
