---
import TagLink from "@components/TagLink.astro";
import Timestamp from "@components/Timestamp.astro";

interface Post {
    data: {
        title: string;
        date: Date;
        tags: string[];
    };
    id: string;
}

const { post } = Astro.props;
---

<section>
    <header>
        <a href={`/post/${post.id}/`}>
            {post.data.title}
        </a>
    </header>
    <Timestamp date={post.data.date} />
    <p>
        {post.data.tags.map((tag) => <TagLink tag={tag} />)}
    </p>

    <style>
        section {
            border-bottom: 1px solid var(--sand-3);
            margin-bottom: 1rem;
            padding-bottom: 1rem;
        }

        header {
            font-size: var(--font-size-3);
            margin-bottom: 0.5rem;
        }
    </style>
</section>
