---
import PostSummary from "./PostSummary.astro"
import type { PostInterface } from "@lib/Post.ts"

interface Props {
    posts: PostInterface[] | undefined
    limit?: number
}

const { posts, limit } = Astro.props as Props
let sortedPosts = posts?.sort((a, b) => b.data.date.getTime() - a.data.date.getTime())

if (limit) {
  sortedPosts = sortedPosts?.slice(0, limit)
}

---

<section class="h-feed">
    {
        sortedPosts?.map((post) => <PostSummary post={post} />)
    }
</section>
