---
interface Props {
    description: string
}

const { description } = Astro.props as Props
---
<p>{description}</p>

<style>
    p {
        font-size: var(--font-size-2);
        font-style: italic;
        font-weight: normal;
        margin-block: 1rem 0;
        margin-inline: 2rem 0;
    }
</style>