---
interface Props {
    from: string;
    cite: string;
    title: string;
}

const { from, cite, title } = Astro.props;
---

<figure>
    <blockquote cite={cite}>
        <slot />
    </blockquote>
    <figcaption>
        {from ? from : ""}
        {
            cite || title ? (
                <cite>
                    {cite ? (
                        <a class="u-url" href={cite}>{title ? title : "(source)"}</a>
                    ) : (
                        ""
                    )}
                    {title && !cite ? title : ""}
                </cite>
            ) : (
                ""
            )
        }
    </figcaption>
</figure>
