---
import Search from "astro-pagefind/components/Search"

import MenuLink from "@components/MenuLink.astro"
import ThemeControl from "@components/ThemeControl.astro"

interface MenuLink {
    href: string;
    text: string;
}

const menuLinks = [
    {
        href: "/post/",
        text: "Posts",
    },
    {
        href: "/now/",
        text: "Now",
    },
    {
      href: "/uses/",
      text: "Uses",
    },
    {
        href: "/follow/",
        text: "Follow",
    },
];
---

<header class="p-4 bg-base-200 text-base-900 mb-4">
  <nav class="flex mb-2">
    <MenuLink class="grow" href="/">Random Geekery</MenuLink>
      {
        menuLinks.map(({ href, text }) => (
              <MenuLink class="pl-4" {href}>{text}</MenuLink>
        ))
      }
    <ThemeControl class="pl-4 text-lg" />
  </nav>
  <Search id="search" className="pagefind-ui" uiOptions={{ showImages: false }} />
</header>

<style type="text/scss" is:global>
  :where(body) {
    --pagefind-ui-scale: 1;
    --pagefind-ui-primary: var(--color-blue-600);
    --pagefind-ui-text: var(--color-base-700);
    --pagefind-ui-background: var(--color-base-100);
    --pagefind-ui-border: var(--color-base-300);
    --pagefind-ui-tag: var(--color-base-300);
    --pagefind-ui-border-width: 2px;
    --pagefind-ui-border-radius: 8px;
    --pagefind-ui-image-border-radius: 8px;
    --pagefind-ui-image-box-ratio: 3 / 2;
    --pagefind-ui-font: var(--font-sans);
  }
</style>
