---
import MenuLink from "@components/MenuLink.astro";

interface MenuLink {
    href: string;
    text: string;
}

const menuLinks = [
    {
        href: "/post/",
        text: "Posts",
    },
    {
        href: "/now/",
        text: "Now",
    },
    {
      href: "/uses/",
      text: "Uses",
    },
    {
        href: "/follow/",
        text: "Follow",
    },
];
---

<header>
  <nav>
    <MenuLink href="/">Random Geekery</MenuLink>
      {
        menuLinks.map(({ href, text }) => (
              <MenuLink {href}>{text}</MenuLink>
        ))
      }
  </nav>
</header>

<style type="text/scss">
  header {
    padding:          var(--rg-spacing-2);
    margin-block-end: var(--rg-spacing-2);
  }

  nav {
    display: flex;

    a {
      padding-inline-start: var(--rg-spacing-2);

      &:first-child {
        flex-grow: 1;
      }
    }
  }
</style>
