---
import MenuLink from "@components/MenuLink.astro"

const menuLinks = [
  {
    href: "/categories/",
    text: "Categories",
  },
  { href: "/tags/", text: "Tags" },
  { href: "/series/", text: "Series" },
]
---

<footer>
  <section class="text-base-900 dark:text-base-100 text-opacity-60">
  <p>
    This work is licensed under a
    <a
        rel="license"
        href="http://creativecommons.org/licenses/by/4.0/">
      Creative Commons Attribution 4.0 International License
    </a>.
  </p>

  <p>
    Built with <a href="https://astro.build">Astro</a>.
    Styled with <a href="https://tailwindcss.com">Tailwind CSS</a>.
  </p>

  <p>
  &copy; 2025 Brian Wisti. All rights reserved
  </p>
  </section>
  <nav>
    {
      menuLinks.map(({ href, text }) => (
          <MenuLink {href}>{text}</MenuLink>
      ))
    }
  </nav>
</footer>

<style>
  footer {
    margin-inline: var(--rg-spacing-4);
    padding: var(--rg-spacing-2);
    display: flex;
    justify-content: space-between;
  }

  section {
    text-align: center;
  }

  a {
    font-weight: var(--rg-font-weight-bold);
  }
</style>
