---
import MenuLink from "@components/MenuLink.astro";

interface MenuLink {
    href: string;
    text: string;
}

const menuLinks = [
    {
        href: "/post/",
        text: "Posts",
    },
    {
        href: "/now/",
        text: "Now",
    },
    {
      href: "/uses/",
      text: "Uses",
    },
    {
        href: "/follow/",
        text: "Follow",
    },
];
---

<header>
  <nav>
    <MenuLink href="/">Random Geekery</MenuLink>
    <ul>
      {
        menuLinks.map(({ href, text }) => (
            <li>
              <MenuLink {href}>{text}</MenuLink>
            </li>
        ))
      }
    </ul>
  </nav>
</header>

<style type="text/scss">
    header {
      background-color: var(--rg-color-accent);
      padding: 1rem;
    }

    nav {
        display: flex;
        justify-content: space-between;

        ul {
            display: flex;
            justify-content: flex-end;
            list-style-type: none;
            padding: 0;
            margin: 0;

            li {
                margin-left: 1rem;
            }
        }
    }
</style>
