---
import MenuLink from "@components/MenuLink.astro"

const menuLinks = [
  {
    href: "/categories/",
    text: "Categories",
  },
  { href: "/tags/", text: "Tags" },
  { href: "/series/", text: "Series" },
]
---

<footer class="mx-8 p-4 flex justify-between">
  <section class="text-base-900 dark:text-base-100 text-opacity-60 text-center">
  <p>
    This work is licensed under a
    <a
        class="font-bold"
        rel="license"
        href="http://creativecommons.org/licenses/by/4.0/">
      Creative Commons Attribution 4.0 International License
    </a>.
  </p>

  <p>
    Built with <a class="font-bold" href="https://astro.build">Astro</a>.
    Styled with <a class="font-bold" href="https://tailwindcss.com">Tailwind CSS</a>.
  </p>

  <p>
  &copy; 2025 Brian Wisti. All rights reserved
  </p>
  </section>
  <nav class="flex justify-end">
    {
      menuLinks.map(({ href, text }) => (
          <MenuLink class="pl-4" {href}>{text}</MenuLink>
      ))
    }
  </nav>
</footer>
