<header>
    <nav class="flex my-4">
        <a href="/">Random Geekery</a>
        <ul>
            <li>
                <a href="/about/">About</a>
            </li>
            <li>
                <a href="/post/">Posts</a>
            </li>    
        </ul>
    </nav>
</header>

<style type="text/scss">
    header {
        background-color: var(--sand-1);
        padding: 1rem;
    }

    nav {
        display: flex;
        justify-content: space-between;

        ul {
            display: flex;
            justify-content: flex-end;
            list-style-type: none;
            padding: 0;
            margin: 0;

            li {
                margin-left: 1rem;
            }
        }
    }
</style>