---
import MenuLink from "@components/MenuLink.astro";

interface MenuLink {
    href: string;
    text: string;
}

const menuLinks = [
    {
        href: "/post/",
        text: "Posts",
    },
    {
        href: "/now/",
        text: "Now",
    },
    {
      href: "/uses/",
      text: "Uses",
    },
    {
        href: "/follow/",
        text: "Follow",
    },
];
---

<header class="p-4 bg-base-200 text-base-900 mb-4">
  <nav class="flex">
    <MenuLink class="grow" href="/">Random Geekery</MenuLink>
      {
        menuLinks.map(({ href, text }) => (
              <MenuLink class="pl-4" {href}>{text}</MenuLink>
        ))
      }
  </nav>
</header>
