---
import * as path from "node:path";

import Layout from "../../../layouts/Layout.astro";
import TagLink from "@components/TagLink.astro";
import Timestamp from "../../../components/Timestamp.astro";

import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
    const posts = await getCollection("posts");

    return posts.map((post) => ({
        params: {
            year: post.data.date.getFullYear().toString(),
            slug: path.basename(post.filePath, ".mdoc"),
        },
        props: { post },
    }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout title={post.data.title}>
    <article>
        <header>
            <h1>{post.data.title}</h1>
            <Timestamp date={post.data.date} />
            <p>
                {post.data.tags.map((tag) => <TagLink tag={tag} />)}
            </p>
        </header>
        <Content />
    </article>
</Layout>
