---
import SiteHeader from "../components/SiteHeader.astro"

const { title } = Astro.props
const pageTitle = title ? `${title} : Random Geekery` : 'Random Geekery'
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{ pageTitle }</title>
	</head>
	<body>
		<SiteHeader />
		<main>
			<slot />
		</main>
	</body>
</html>

<style is:global>
	@import "https://unpkg.com/open-props";

	body {
		background-color: var(--sand-2);
		font-family: var(--font-geometric-humanist);
		font-size: var(--font-size-3);
		margin: 0;
	}

	main {
		margin: 0 auto;
		max-width: 40rem;
		padding: 1rem;
	}

	pre.astro-code {
		border-radius: 0.25rem;
		font-size: var(--font-size-2);
		overflow-x: auto;
		padding: 1rem;
	}
</style>
