---
import SiteHeader from "../components/SiteHeader.astro";

const { title } = Astro.props;
const pageTitle = title ? `${title} : Random Geekery` : "Random Geekery";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
    </head>
    <body>
        <SiteHeader />
        <main>
            <slot />
        </main>
    </body>
</html>

<style is:global>
    @import "https://unpkg.com/open-props";

    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }

    :root {
        --font-prose: var(--font-geometric-humanist);
        --color-bg-page: var(--sand-2);
    }

    html {
        box-sizing: border-box;
    }

    body {
        background-color: var(--color-bg-page);
        font-family: var(--font-prose);
        font-size: var(--font-size-fluid-1);
        margin: 0;
    }

    main {
        margin: 0 var(--size-8);
        padding: var(--size-3);
    }

    pre {
        white-space: pre;
        overflow-x: auto;
        font-size: var(--font-size-2);
    }
    pre.astro-code {
        border-radius: var(--radius-2);
        padding: 1rem;
    }
</style>
