---
import "astro-breadcrumbs/breadcrumbs.css"
import { Breadcrumbs } from "astro-breadcrumbs"

import Layout from "@layouts/Layout.astro"
import PostDescription from "@components/PostDescription.astro"

interface Props {
  title?: string
  description?: string
}

const { title, description } = Astro.props as Props
---

<Layout {title} {description}>
    <Breadcrumbs linkTextFormat="capitalized">
        <span slot="separator">/</span>
    </Breadcrumbs>
    <header>
        <h1>{title}</h1>
        {description ? <PostDescription {description} /> : "" }
    </header>
    <slot />
</Layout>
