---
import PageLayout from "@layouts/PageLayout.astro"
import PostHeader from "@components/PostHeader.astro"


import type { PostData } from "@lib/Post"

interface Props {
  data: PostData
}

const { data  } = Astro.props as Props
const { title, cover_image, date, series, categories, uses, tags, cover_caption = "", description } = data
---
<PageLayout {data}>
    <article class="py-8">
      <PostHeader {data} />
      <section class="prose md:prose-l lg:prose-xl mx-auto dark:prose-invert">
        <slot />
      </section>
    </article>
</PageLayout>
