---
import MarkdocImage from "@components/MarkdocImage.astro"
import PageLayout from "@layouts/PageLayout.astro"
import PostDescription from "@components/PostDescription.astro"
import PostMetadata from "@components/PostMetadata.astro"

import type { PostData } from "@lib/Post"

interface Props {
  data: PostData
}

const { data  } = Astro.props as Props
const { title, cover_image, description } = data
---
<PageLayout {data}>
    <article class="py-8">
        <header class="mb-8">
            {cover_image ? <MarkdocImage src={cover_image} alt="" /> : ""}
            <PostMetadata {data} />
        </header>
        <section class="prose md:prose-l lg:prose-xl mx-auto dark:prose-invert">
          <slot />
        </section>
    </article>
</PageLayout>
